@charset "UTF-8";
.demo {
  color: red; }
  .demo .child {
    color: black;
    font-size: 24px;
    background: url("/static/img/logo_g.png"); }

/********************************scss语法*****************************************/
.bg-color {
  background-color: #000000;
  width: 12px; }
  .bg-color .child {
    width: 88px;
    background: url(/public/img/logo.png) no-repeat center;
    margin: 0px auto 0px auto;
    font-size: 12px; }
    .bg-color .child:hover {
      background-color: red; }
    .bg-color .child.active {
      width: 100px; }
  .bg-color .map {
    width: 12px; }
  .bg-color .parent {
    height: 100px; }
    .grandeson {
      font-size: 12px; }
    .child .jump-child {
      font-size: 16px; }
    .bg-color .parent .child .jump-child-2 {
      font-size: 16px; }

.submit {
  font-size: 12px;
  border: 0px none;
  display: inline-block;
  background-color: #000000;
  background-color: #ffffff;
  color: #545454; }
  .submit:active {
    outline: 0px none; }

@media only screen and (max-width: 960px) {
  body {
    font-size: 62.5%; } }

.input-area, .submit-area {
  width: 100%;
  display: inline-block; }

.submit-area {
  min-height: 30px; }

.submit-area-1 {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.submit-area-1 {
  min-height: 30px; }

.max-value {
  font-size: 24px; }

.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.puma-icon {
  background-image: url("/images/puma.png"); }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png"); }

.egret-icon {
  background-image: url("/images/egret.png"); }

.salamander-icon {
  background-image: url("/images/salamander.png"); }

.puma-icon {
  background-image: url("/images/puma.png");
  border: 2px solid black;
  cursor: default; }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
  border: 2px solid blue;
  cursor: pointer; }

.egret-icon {
  background-image: url("/images/egret.png");
  border: 2px solid white;
  cursor: move; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

.test {
  height: 100px; }
